<%- include('./includes/head.ejs') %>
    <link rel="shortcut icon" href="../img/tank.png" type="image/x-icon">
    <link href="../css/hamburger.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" />
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/nav.js" defer></script>
    <script src="../js/footer.js" defer></script>
    </head>

    <body>
        <%- include('./includes/nav.ejs') %>

            <main class="main">
                <section class="section article">
                    <h1 class="article__title">
                        <%= postData.title %>
                    </h1>
                    <p class="article__date">By <%= postData.author %>. Publisheed on <%= postData.date %>
                    </p>
                    <p class="article__introduction">
                        <%= postData.introduction %>
                    </p>

                    <img src="<%= postData.photoUrl %>" alt="<%= postData.title %>">

                    <p class="article__text">
                        <%= postData.text %>
                    </p>
                </section>
            </main>

            <%- include('./includes/footer.ejs') %>
    </body>

    </html>