<%- include('./includes/head.ejs') %>

    </head>

    <body>
        <%- include('./includes/nav.ejs') %>

            <main class="main">
                <section class="section article">
                    <h1 class="article__title">
                        <%= post.title %>
                    </h1>
                    <p class="article__date">By <%= post.author %>. Publisheed on <%= post.date %>
                    </p>
                    <p class="article__introduction">
                        <%= post.introduction %>
                    </p>

                    <img src="<%= post.photoUrl %>" alt="<%= post.title %>">

                    <p class="article__text">
                        <%= post.text %>
                    </p>
                </section>
            </main>

            <%- include('./includes/footer.ejs') %>
    </body>

    </html>