<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <%- include('./includes/nav.ejs') %>
            <main class="main">
                <section class="section articles blog">
                    <h1>Articles</h1>
                    <p class="blog__description">Discover the stories of World War 2</p>
                    <form>
                        <input type="search" placeholder="Search blog post">
                        <button>Search</button>
                    </form>

                    <a href="/add-post" class="button">Add New Post</a>

                    <div class="articles__container">
                        <% if (posts.length===0){ %>

                            <% } else {%>

                                <% posts.forEach(post=> { %>


                                    <a href="/article/<%=post.id%>" class="articles__box">
                                        <img src="<%= post.photoUrl %>" alt="<%= post.titlte %>">
                                        <h3>
                                            <%= post.title %>
                                        </h3>
                                        <p>
                                            <%= post.introduction %>
                                        </p>
                                        <div class="button-container">
                                            <form action="/edit-post" method="POST">
                                                <input type="hidden" name="id" value="<%= post.id %>">
                                                <button type="submit" class="button">Edit</button>
                                            </form>
                                            <form action="/delete" method="POST">
                                                <input type="hidden" name="id" value="<%= post.id %>">
                                                <button type="submit" class="button">Delete</button>
                                            </form>
                                        </div>
                                    </a>
                                    <% });} %>
                    </div>
                </section>

            </main>

            <%- include('./includes/footer.ejs') %>
    </body>

    </html>