<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <%- include('./includes/nav.ejs') %>
            <main class="main">
                <section class="section articles blog">
                    <h1>Articles</h1>
                    <p class="blog__description">Discover the stories of World War 2</p>
                    <form>
                        <input type="search" placeholder="Search blog post">
                        <button>Search</button>
                    </form>

                    <a href="/add-post" class="button">Add New Post</a>

                    <div class="articles__container">
                        <% if (posts.length===0){ %>
                            <p>No featured articles
                            </p>
                            <% } else { %>

                                <% posts.forEach(post=> { %>

                                    <a class="articles__box" href="/article/<%=post.id%>">
                                        <img src="<%= post.photoUrl %>" alt="<%= post.title %>">
                                        <h3>
                                            <%= post.title %>
                                        </h3>
                                        <p>
                                            <%= post.introduction %>
                                        </p>
                                    </a>

                                    <% }); }%>
                    </div>
                </section>

            </main>

            <%- include('./includes/footer.ejs') %>
    </body>

    </html>