<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <%- include('./includes/nav.ejs') %>


            <header class="header">
                <div class="header__image header__image--post">
                    <div class="header__shadow">
                        <div class="header__text-box">
                            <h1>The Second World War</h1>
                        </div>
                    </div>
                </div>
            </header>

            <main class="main">
                <section class="section new-post">
                    <h2>Edit Post</h2>
                    <form method="POST" action="/edit">
                        <input name="title" type="text" placeholder="Enter post title" value="<%= article.title %>">
                        <textarea name="introduction" cols="30" rows="10"
                            placeholder="Enter your introduction"><%= article.introduction %></textarea>
                        <textarea name="text" cols="30" rows="10"
                            placeholder="Enter your text"><%= article.text %></textarea>
                        <input name="photoUrl" type="text" placeholder="Enter photo URL"
                            value="<%= article.photoUrl %>">
                        <input name="author" type="text" placeholder="Author" value="<%= article.author %>">
                        <input type="hidden" name="id" value="<%= article.id %>">
                        <button type="submit">Edit</button>
                    </form>
                </section>
            </main>

            <%- include('./includes/footer.ejs') %>

    </body>

    </html>