<%- include('./includes/head.ejs') %>
    </head>

    <body>
        <%- include ('./includes/nav.ejs') %>

            <header class="header">
                <div class="header__image">
                    <div class="header__shadow">
                        <div class="header__text-box">
                            <h1>The Second World War</h1>
                            <p>The deadliest conflict in human history, the Second World War was fought from 1939 to
                                1945
                                and
                                involved almost every country in the world. The war was fought between two alliances:
                                the
                                Axis
                                Powers and the Allied Powers.</p>
                        </div>
                        <form method="POST" action="/blog">
                            <input required name="sentance" type="search"
                                placeholder="Search for an event, battle, or person">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </header>

            <main class="main">
                <section class="section articles">
                    <h2 class="section__heading">Featured Articles</h2>
                    <div class="articles__container">

                        <% if (posts.length===0){ %>
                            <p>No featured articles
                            </p>
                            <% } else { %>

                                <% posts.forEach(post=> { %>

                                    <a class="articles__box" href="/article/<%=post.id%>">
                                        <img src="<%= post.photoUrl %>" alt="<%= post.title %>">
                                        <h3>
                                            <%= post.title %>
                                        </h3>
                                        <p>
                                            <%= post.introduction %>
                                        </p>
                                    </a>

                                    <% }); }%>
                    </div>
                </section>

                <section class="section about-us" id="about-us">
                    <h2 class="section__heading">
                        About Us
                    </h2>
                    <p>
                        We are dedicated to providing comprehensive and accurate information about the Second World War.
                        Our
                        mission is to educate, commemorate, and inspire through the stories, images, and insights of
                        this
                        pivotal historical period.
                    </p>
                </section>
            </main>

            <%- include('./includes/footer.ejs') %>
    </body>

    </html>